<tr role="row"> 
	<td class="nws-tbl-ttl h4">{{#link}}<a href="{{ link }}">{{/link}}{{ title }}{{#link}}</a>{{/link}}</td> 
	<td class="product-name nws-tbl-ttl h5 sorting_1">{{{ subject }}}</td> 
	<td class="nws-tbl-date">{{ start_date }}</td> 
	<td class="nws-tbl-date">{{ end_date }}</td> 
	<td class="nws-tbl-type">{{ owner }}</td> 
	<td class=" nws-tbl-desc">{{ description }}</td> 
	<td class=" nws-tbl-desc">{{ status }}</td> 
	<td class=" nws-tbl-desc">{{ subjects }}</td> 
</tr> 