<!-- With meta data -->
<div typeof="Event">
    {{#alerts}}
    <section class="alert alert-info">
        <h2>{{title}}</h2>
        <p>{{description}}</p>
    </section>
    {{/alerts}}
    <p>There’s so much to see and do at Winterlude! Explore the calendar of events and use the filters to narrow your search.</p>
    <div class="row">
        <div class="col-md-3">
            <form aria-controls="eventslist" class="wb-tables-filter" data-bind-to="eventslist" data-gc-analytics-formname="PCH - Winterlude Activities Date Search and Location Filter | Filtre de recherche des dates et des lieux des activités du Bal de Neige">

                <h2 class="mrgn-tp-lg">Filters</h2>
                <div class="form-group">
                    <h3 class="h4 mrgn-tp-lg mrgn-bttm-sm"><label for="edate">Date</label></h3>
                    <p class="wb-inv">Event date<span class="datepicker-format"> (<abbr title="Four digits year, dash, two digits month, dash, two digits day">YYYY-MM-DD</abbr>)</span></p>
                    <input class="form-control" type="date" id="edate" name="edate" min="2019-02-01" max="2019-02-19" style="line-height: normal" data-column="2" data-gc-analytics-collect="notPrivate" />
                </div>
                <div class="form-group">
                    <h3 class="h4"><label for="dt-topic">Destination</label></h3>
                    <select id="dt-topic" name="dt-topic" class="form-control" data-gc-analytics-collect="notPrivate" data-column="1">
                        <option value=" ">All destinations</option>
                        {{#destinations}}
                        <option value="{{name}}" data-gc-analytics-collect="notPrivate">{{name}}</option>
                        {{/destinations}}
                    </select>
                </div>
                <div class="form-group">
                    <h3 class="h4"><label for="dt-theme">Theme</label></h3>
                    <select id="dt-theme" name="dt-theme" class="form-control" data-gc-analytics-collect="notPrivate" data-column="7">
                        <option value=" ">All themes</option>
                        <option value="[Indigenous culture]" data-gc-analytics-collect="notPrivate">Indigenous culture</option>
                        <option value="[LGBTQ2+]" data-gc-analytics-collect="notPrivate">LGBTQ2+</option>
                        <option value="[Family]" data-gc-analytics-collect="notPrivate">Family</option>
                        <option value="[Food and drink]" data-gc-analytics-collect="notPrivate">Food and drink</option>
                        <option value="[Art and culture]" data-gc-analytics-collect="notPrivate">Art and culture</option>
                        <option value="[Sport]" data-gc-analytics-collect="notPrivate">Sport</option>
                    </select>
                </div>
                <button class="btn btn-primary btn-block btn-sm mrgn-tp-lg" type="submit" data-gc-analytics-formsubmit="submit">Apply filters</button>
                <button class="btn btn-default btn-block btn-sm" type="reset">Clear filters</button>
            </form>
        </div>
        <div class="col-md-9">
            <h2 class="mrgn-tp-lg">List of events</h2>
            <table id="eventslist" class="table wb-tables nws-tbl table-striped" data-wb-tables-color=".pkey" data-wb5-bind="[data-wbtbl-draw]" data-wb-tables='{ 
"paging" : true, 
"order": [[ 2, "asc" ], [ 3, "asc" ]], 
"pageLength": 25, 
"columnDefs": [ { "targets": [7], "visible": false }, { "targets": [0,1,2,3,4,5,6], "orderable": false } ], 
"language": { "search": "Search by keyword(s)"} 
}'>
                <thead>
                    <tr>
                        <th class="wb-inv" tabindex="-1">Event</th>
                        <th class="wb-inv" tabindex="-1">Destination</th>
                        <th class="wb-inv" tabindex="-1">Day</th>
                        <th class="wb-inv" tabindex="-1">Start Time</th>
                        <th class="wb-inv" tabindex="-1">Time</th>
                        <th class="wb-inv" tabindex="-1">Location</th>
                        <th class="wb-inv" tabindex="-1">Teaser</th>
                        <th class="wb-inv" tabindex="-1">Description</th>
                    </tr>
                </thead>
                {{ tbody }}
            </table>
        </div>
    </div>
</div>