<tr> 
    <td class="wb-inv">{{ Status }}</td>
	<td class="nws-tbl-priority"><p><span class="label brdr-tp brdr-bttm brdr-lft brdr-rght pln">{{ Priority }}</span></td>
	<td class="nws-tbl-date commit tp-rail mrgn-bttm-md">{{{ Commitment }}}</td>
	<td class="nws-tbl-date status mrgn-bttm-md">{{{ Label }}}</td> 
    <td class="nws-tbl-desc">
        <p><strong><u>{{{ Anticipated }}}</u>:</strong>&nbsp;{{{ Statement }}}
        <details>
            <summary data-gc-analytics-mt="{{ Priority }}:{{ Status }}:{{ Statement }}">{{{ ClickForMore }}}</summary>
            {{{ Comment }}}
            {{#OtherLinks}}<p>{{{ MoreInformation }}}</p>{{{ OtherLinks }}}{{/OtherLinks}}
            {{{ MinList }}}
        </details>
    </td>
    <td class="nws-tbl-priority1 button wb-inv"></td>
	<td class="wb-inv">{{ Vintage }}</td>
</tr>
